<header class="header header--global">
  <h1 class="logo">
    <a href="{{ "/" | prepend: absolute_url }}">
      <picture>
        <img class="header__logo--global" src="/assets/images/logo.png" alt="{{ site.title }}">
      </picture>
    </a>
  </h1>

  {% assign menu = site.data.main-menu.items | where: "language", page.language %}
  <nav id="main-menu" class="menu menu--main">
    <h1><a href="#menu">Explore este sitio:</a></h1>
    <ul id="menu" class="menu__list">
      {% for item in menu[0].item %}
      <li class="menu_item"><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
