* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  line-height: $font-line-height;
  font-family: $font-family;
}

h1 { font-size: 2.0625rem; }
h2 { font-size: 1.5625rem; }
h3 { font-size: 1.3125rem; }
h4, h5, h6 { font-size: 1rem; }
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}
h1,h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
p {
  font-size: 1rem;
  max-width: 38em;
  margin: 0 auto;
  margin-bottom: 1rem;
}
hr { max-width: 38em; }

dl {
  font-weight: bold;
}

abbr {
  hyphens: manual;
}

.caps {
  font-variant: all-small-caps;
}

@media screen and (min-width: 60em) {
  h1 { font-size: 3.1875rem; }
  h2 { font-size: 2.0625rem; }
  h3 { font-size: 1.5625rem; }
  h4, h5, h6 { font-size: 1.125rem; }
  p, hr { font-size: 1.125rem; }
}

@media screen and (min-width: 120em) {
  h1 { font-size: 4.875rem; }
  h2 { font-size: 2.75rem; }
  h3 { font-size: 1.75rem; }
  h4, h5, h6 { font-size: 1.3125rem; }
  p, hr { font-size: 1.3125rem; }
}
