/**
  Colors
 */

 $brown: hsl(16,88%,16%);
 $green: hsl(101,19%,62%);
 $light-gray: hsl(16,16%,94%);
 $dark-gray: hsl(16,94%,16%);
 $white: hsl(16,2%,88%);
 $black: hsl(16,88%,2%);

 $body-color: $black;
 $body-bg-color: $white;
 $link-color: $green;
 $footer-color: $light-gray;
 $footer-bg-color: $brown;

 /**
   Fonts
  */

$font-family: Helvetica, Arial, sans-serif;
$font-size: 1rem;
$font-line-height: 1.5;

/**
  Global header
 */

 $header--global-mb: 2rem;

/**
  Main Menu
 */

   $menu--main--item-p: 0.5rem;
   $menu--main--item-bs: 3px;
   $menu--main--item-bb: solid $body-bg-color $menu--main--item-bs;
   $menu--main--item-bb-hover: solid $link-color $menu--main--item-bs;
