/**
  Colors
 */

 $brown: #4c2005;
 $green: #8aaf98;
 $light-gray: #eee;
 $dark-gray: #cdcdcd;
 $white: #fff;
 $black: #000;

 $body-color: $black;
 $body-bg-color: $white;
 $link-color: $green;

 /**
   Fonts
  */

$font-family: Helvetica, Arial, sans-serif;
$font-size: 1rem;
$font-line-height: 1.5;

/**
  Global header
 */

 $header--global-mb: 2rem;
