/**
  Colors
 */

 $brown: #4c2005;
 $green: #8aaf98;
 $light-gray: #eee;
 $dark-gray: #cdcdcd;
 $white: #fff;
 $black: #000;

 $body-color: $black;
 $body-bg-color: $white;
 $link-color: $green;

 /**
   Fonts
  */

$font-family: Helvetica, Arial, sans-serif;
$font-size: 1rem;
$font-line-height: 1.5;

/**
  Global header
 */

 $header--global-mb: 2rem;

/**
  Main Menu
 */

   $menu--main--item-p: 0.5rem;
   $menu--main--item-bs: 3px;
   $menu--main--item-bb: solid $body-bg-color $menu--main--item-bs;
   $menu--main--item-bb-hover: solid $link-color $menu--main--item-bs;
