/**
  Colors
 */

 $brown: hsl(22.8, 87.7%, 15.9%);
 $dark-brown: hsl(22.8, 80%, 3.9%);
 $green: hsl(142.7, 18.8%, 61.4%);
 $light-gray: hsl(22.8, 16%, 94%);
 $dark-gray: hsl(22.8, 94%, 16%);
 $white: hsl(22.8, 0%, 100%);
 $black: hsl(22.8, 88%, 2%);

 $body-color: $black;
 $body-bg-color: $white;
 $link-color: $green;
 $footer-color: $light-gray;
 $footer-bg-color: $dark-brown;

 /**
   Fonts
  */

$font-family: 'Roboto', sans-serif;
$font-size: 1rem;
$font-line-height: 1.5;

/**
  Global header
 */

 $header--global-mb: 2rem;

/**
  Main Menu
 */

   $menu--main--item-p: 0.5rem;
   $menu--main--item-bs: 3px;
   $menu--main--item-bb: solid $body-bg-color $menu--main--item-bs;
   $menu--main--item-bb-hover: solid $link-color $menu--main--item-bs;
