<!DOCTYPE html>
<html lang="{{ page.language | default: site.lang }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main role="content">

      <section class="hero hero--front">

      </section>

      {% assign sections = site.sections | sort: 'order' %}
      {% for section in sections %}
      <section class="section">
        <div class="section__content">
          <header class="section_header">
            <h1>{{ section.title }}</h1>
          </header>
          <div class="section__body">
            {{ section.content }}
          </div>
        </div>
      </section>
      {% endfor %}

    </main>
  </body>

</html>
