---
layout: default
---

<article class="page">
  {% if page.image %}
  {% assign imagen = page.image | split: '/' | last %}
  <div class="page__poster">
    <picture>
      <source srcset="/assets/images/large/{{ imagen }}" media="(min-width: 60em)">
      <source srcset="{{ page.image }}" media="(min-width: 120em)">
      <img src="/assets/images/medium/{{ imagen }}">
    </picture>
  </div>
  {% endif %}
  <div class="page__content">
    <header class="page__header">
      <h1 class="page__title">{{ page.title }}</h1>
    </header>
    <div class="page__body">
      {{ content }}
    </div>
  </div>
</article>
