---
layout: default
---

<article class="post">
  <div class="post__content">
    <header class="post__header">
      <h1 class="post__title">{{ page.title }}</h1>
      {% if page.image %}
      {% assign imagen = page.image | split: '/' | last %}
      <picture>
        <source srcset="/assets/images/large/{{ imagen }}" media="(min-width: 60em)">
        <source srcset="{{ page.image }}" media="(min-width: 120em)">
        <img class="post__image" src="/assets/images/medium/{{ imagen }}">
      </picture>
      {% endif %}
      <p class="post__byline">por {{ page.author }}, {{ page.date }}</p>
      <p class="post__tags">{{ page.tags | join: ',' }}</p>
    </header>
    <div class="post__body">
      {{ content }}
    </div>
  </div>
</article>
