---
layout: default
---

<article class="post">
  <div class="post__content">
    <header class="post__header">
      <h1 class="post__title">{{ page.title }}</h1>
      {% if page.image %}
      {% assign imagen = page.image | split: '/' | last %}
      <picture>
        <source srcset="/assets/images/large/{{ imagen }}" media="(min-width: 60em)">
        <source srcset="{{ page.image }}" media="(min-width: 120em)">
        <img class="post__image" src="/assets/images/medium/{{ imagen }}">
      </picture>
      {% endif %}
      {% assign dia_semana = page.date | date: '%A' %}
      {% assign dia = page.date | date: '%e' %}
      {% assign mes = page.date | date: '%B' %}
      {% assign ano = page.date | date: '%Y' %}
      <div class="post__meta">
        <span class="post_date"><small><i class="fas fa-calendar"></i> {{ site.translations[page.lang][dia_semana] }}, {{ dia }} {{ site.translations[page.lang][mes] }} {{ ano }}</small></span> |
        <span class="post__byline"><small><i class="fas fa-user"></i> {{ page.author }}<small></span>
        <br>
        <span class="post__tags"><small><i class="fas fa-tags"></i> {{ page.tags | join: ', ' }}<small></span>
      </div>

    </header>
    <div class="post__body">
      {{ content }}
    </div>
  </div>
</article>
