.footer {

}

.footer--global {
  padding: 3rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  background-color: $footer-bg-color;
  color:$footer-color;

  .footer__item {

  }
}
