.header {

}

.header--global {
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column wrap;
  background-color: $white;
  box-shadow: 0 3px 5px rgba($black, 0.6);

  h1 {
    text-align: center;
  }
}

.header__logo--global {
  max-height: 100px;
}

@media screen and (min-width: 60em) {
  .header--global {
    flex-flow: row;
  }
}
