.header {

}

.header--global {
  margin-bottom: $header--global-mb;
  //padding: 0.5rem 0;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column wrap;
  background-color: $body-bg-color;
  box-shadow: 0 3px 5px rgba($black, 0.6);

  h1 {
    text-align: center;
    height: 100px;
  }
}

.header__logo--global {
  max-height: 100px;
}

@media screen and (min-width: 60em) {
  .header--global {
    flex-flow: row;
    h1 {
      flex: 1;
    }
    nav {
      flex: 2;
    }
  }
}
