/**
  Header Global
 */
.header--global {
  //max-height: 132px;
  //padding: 1rem;
  padding: 0.5rem 0;
}

.header__logo--global {
  margin: 0;
  font-size: 1rem;

  img {
    max-height: 100px;
  }
}

.header__menu--global {
  h1 {
    display: none;
    font-size: 1rem;

    a::before {
    	top: -2em;
      background-image: url('/assets/images/x.svg');
    	background-repeat: no-repeat;
    }
    a::after {
    	background-image: url('/assets/images/menu.svg');
    	background-repeat: no-repeat;
    }
  }
}

.header__menu--global {
  h1 {
    a::after {
      top: 0;
    	-moz-transform: scale(1);
    	-ms-transform: scale(1);
    	-o-transform: scale(1);
    	-webkit-transform: scale(1);
    	transform: scale(1);
    }
  }
}

.header__menu--global.is-open {
  h1 {
    a::before {
    	top: 0;
    	-moz-transform: scale(1);
    	-ms-transform: scale(1);
    	-o-transform: scale(1);
    	-webkit-transform: scale(1);
    	transform: scale(1);
    }
  }
}
.header__menu--global.is-open {
  h1 {
    a::after {
      top: 100%;
    }
  }
}

.enhanced {
  .header__menu--global {
    h1 {
      display: block;
    	margin: 0;
      a {
        display: block;
      	margin: 0;
      }
    }
  }
}

.enhanced {
  .header__menu--global {
    h1 {
      a {
      	background: $link-color;
      	-webkit-border-radius: 50%;
      	border-radius: 50%;
      	width: 2.5em;
      	height: 2.5em;
      	position: absolute;
      	overflow: hidden;
      	right: 1rem;
      	top: 30px;
      	text-indent: -1000em;
      	-moz-transform: translateZ(0);
      	-ms-transform: translateZ(0);
      	-o-transform: translateZ(0);
      	-webkit-transform: rotateZ(360deg);
      	transform: translateZ(0);
      	z-index: 1000;

        &:hover {
          background: $link-color-reverse;
        }
      }
    }
  }
}

.enhanced {
  .header__menu--global {
    h1 {
      a::after {
        background-position: 50% 50%;
      	content: "";
      	font-weight: 300;
      	height: 2.5em;
      	left: 0;
      	line-height: 1;
      	position: absolute;
      	text-align: center;
      	-moz-transition: top .25s,-moz-transform .25s;
      	-ms-transition: top .25s,-ms-transform .25s;
      	-o-transition: top .25s,-o-transform .25s;
      	-webkit-transition: top .25s,-webkit-transform .25s;
      	transition: top .25s,transform .25s;
      	width: 100%;
      }
    }
  }
}
.enhanced {
  .header__menu--global {
    h1 {
      a::before {
        background-position: 50% 50%;
      	content: "";
      	font-weight: 300;
      	height: 2.5em;
      	left: 0;
      	line-height: 1;
      	position: absolute;
      	text-align: center;
      	-moz-transition: top .25s,-moz-transform .25s;
      	-ms-transition: top .25s,-ms-transform .25s;
      	-o-transition: top .25s,-o-transform .25s;
      	-webkit-transition: top .25s,-webkit-transform .25s;
      	transition: top .25s,transform .25s;
      	width: 100%;
      }
    }
  }
}

.enhanced {
  .header--global {
    ul {
      margin-bottom: 0;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s ease-out;
    	text-align: center;
      li {
        a {
        	text-transform: uppercase;
        	text-decoration: none;
        	letter-spacing: 1px;
        	line-height: 2.5rem;
        	color: $link-color;

          &:visited {
            color: $link-color;
          }

          &:hover {
            color: $link-color-reverse;
          }
        }
      }
    }
  }
}

.enhanced {
  .header__menu--global.is-open {
    h1 {
      a {
        background-color: $red;

        &:hover {
          background-color: $red;
        }
      }
    }

    ul {
      max-height: 20em;
       li {
         a {
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px;
          line-height: 2.5rem;
          //color: $link-color-reverse;
        }
      }
    }
  }
}

@media screen and (min-width: 50em) {
	.header--global {
		display: flex;
		//align-content: center;
		justify-content: space-around;
	}

	.header__menu--global {
		height: 100%;
    align-self: center;
	}

  .enhanced {
    .header__menu--global {
      h1 {
        display: none;
         a {
           display: none;
        }
      }
      ul {
        overflow: hidden;
        max-height: inherit;
        width: 100%;
    		height: 100%;
    		display: flex;
    		//justify-content: space-around;
    		align-items: center;
    		//text-align: center;
        li {
          margin: 0 1rem;
      		flex: 1;
          a {
            padding: 2.5rem 0;
          }
        }
      }
    }
  }
}
