.header {

}

.header--global {
  display: flex;
  position: sticky;
  top: 0;
  flex-flow: column wrap;
  box-shadow: 0 3px 5px rgba($black, 0.6);
  margin-bottom: 2rem;
  padding: 0.5rem 0;

  .logo {
    max-height: 100px;
  }
}
