.hero {

}

.hero--front {
  height: calc(100vh - $header--global-mb);
  background-image: url(/assets/images/hero-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
