.menu {

}

.menu--main {
  h1 {
    display: none;
  }
  .menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
  }
  .menu__item {
    padding: 0.5rem;
    border-bottom: solid 3px $white;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
    transition: 1s;
    &:hover {
      border-bottom: solid 3px $$green;
    }
  }
  a {
    text-decoration: none;
    color: $green;
  }
}

@media screen and (min-width: 60em) {
  .menu--main {
    ul {
      height: 100%;
    }
  }
}
