.menu {

}

.menu--main {
  display: flex;
  h1 {
    display: none;
  }
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    //height: 3rem;
  }
  .menu__item {
    padding: $menu--main--item-p;
    border-bottom: $menu--main--item-bb;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    //font-weight: bold;
    transition: 1s;
    &:hover {
      border-bottom: $menu--main--item-bb-hover;
    }
  }
  a {
    text-decoration: none;
    color: $link-color;
  }
  ul {
    list-style: none;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 60em) {
  .menu--main {
    .menu__list {
      height: 100%;
    }
  }
}
