.page {
  margin-bottom: 6rem;
}

.page__content {
  max-width: 48em;
  margin: 0 auto;
}

.page__poster {
  background-repeat: no-repeat;
  background-position: center;
  max-height: 20vh;"
}
.page__header {
  text-align: center;
}

.page__title {
  //margin-bottom: 2rem;
}

.page__image {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.page__body {
  h2 {
    //margin-bottom: 2rem;
  }
}

@media screen and (min-width: 60em) {
  .page {
    padding: 0 1rem;
  }
}
