.page {
  margin-bottom: 6rem;
}

.page__content {
  max-width: 48em;
  margin: 0 auto;
  padding: 0 1rem;
}

.page__poster {
  min-height: 25vh;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.page__header {
  text-align: center;
}

.page__title {
  //margin-bottom: 2rem;
}

.page__image {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.page__body {
  h2 {
    //margin-bottom: 2rem;
  }
}

@media screen and (min-width: 60em) {
  .page__poster {
    min-height: 50vh;
    background-position: center;
  }
  .page__content {
    padding: 0;
  }
}
