.post {

}

.post__content {
  max-width: 38em;
  margin: 0 auto;
}

.post__header {

}

.post__title {
  margin-bottom: 2rem;
}

.post__image {
  max-width: 100%;
  margin: 0 auto;
}

.post__byline {

}

.post__tags {

}

.post__body {
  h2 {
    margin-bottom: 2rem;
  }
  ul {
    width: 80%;
    list-style: outside;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
