.post {
  padding: 0 1rem;
}

.post__content {
  max-width: 48em;
  margin: 0 auto;
}

.post__header {

}

.post__title {
  //margin-bottom: 2rem;
}

.post__image,
.post__image--excerpt {
  max-width: 100%;
  margin: 0 auto;
}

.post__byline {

}

.post__tags {

}

.post__body {
  h2 {
    //margin-bottom: 2rem;
  }
}
