.post {

}

.post__content {
  max-width: 38em;
  margin: 0 auto;
}

.post__header {

}

.post__title {

}

.post__image {
  max-width: 100%;
  margin: 0 auto;
}

.post__byline {

}

.post__tags {

}

.post__body {

}

.post__body h2 > p:last-of-type {
  margin-bottom: 3rem;
}
