.post {
  padding: 0 1rem;
}

.post__content {
  max-width: 48em;
  margin: 0 auto;
}

.post__header {

}

.post__title {
  //margin-bottom: 2rem;
}

.post__image,
.post__image--excerpt {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

.post__byline {

}

.post__tags {

}

.post__body {
  h2 {
    //margin-bottom: 2rem;
  }
}

.post__read-more {
  text-decoration: none;
  float: right;
}

.post--list {

}
